div.window_mock_buttons_child_component {

        ul {
                display: flex;
                li {
                        border-radius: 100%;
                        width: 13px;
                        height: 13px;

                        &:not(:first-child) {
                                margin-left: 15px;
                        }

                        &.red {
                                background-color: #ff4d4d;
                        }

                        &.yellow {
                                background-color: #e9d30c;
                        }

                        &.green {
                                background-color: #00c700;
                        }
                }
        }
}